.ping {
  background-color: orange;
  display: none;
}

.pong {
  background-color: red;
  display: none;
}

.pingpong {
  background-color: yellow;
  display: none;
  color: black;
}

.number {
  background-color: brown;
  color: black;
  display: none;
}

ul {
  margin-top: 10px;
}
li {
  width: 200px;
  /*margin: 0 auto;*/
}

body, html {
  background-color: black;
  color: white;
}

.container {
  background-color: black;
  color: white;
}

#inputString {
  color: red;
}

.sidebar {
  color: black;
}

#biggerP {
  font-size: 26px;
  font-weight: bolder;
}

#explain {
  font-size: 22px;
  font-weight: bold;
}

#byline, #byline a {
  font-family: sans-serif;
  font-size: 26px;
  color: red;
}
.rules {
  color: lightgrey;
}

button {
  float: left;
}
